body {
    font-family: "Roboto", sans-serif;
    color: #434455;
}
ul {
    list-style-type: none;
}
button{
    cursor: pointer;
}
.section-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    text-align: center;
    
}

.item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    text-align: left;
    
}

.description P{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.4px;
}