.hero-title {
    color: #FFFFFF;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero {
    background-color: #2E2F42;;
}

.button {
    background-color:#4D5AE5;
    color: #FFFFFF;
}

.button:hover
.button:focus {
    background-color: #404BBF;
}